@import 'colours'

table
	border-collapse collapse
	width: 900px

tr:nth-child(2n)
	background $bg-light

tr:nth-child(2n+1)
	background $bg-offwhite

thead tr:nth-child(1), tfoot tr:nth-child(1)
	background $bg-medium
	color $txt-dark
	font-weight bold

thead tr td:first-child
	border-radius-top-left 5px

thead tr td:last-child
	border-radius-top-right 5px

tfoot tr td:first-child
	border-radius-bottom-left 5px

tfoot tr td:last-child
	border-radius-bottom-right 5px

td
	padding 10px


