

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

border-radius-top-left()
	-webkit-border-top-left-radius arguments
	-moz-border-top-left-radius arguments
	border-top-left-radius arguments

border-radius-top-right()
	-webkit-border-top-right-radius arguments
	-moz-border-top-right-radius arguments
	border-top-right-radius arguments

border-radius-bottom-left()
	-webkit-border-bottom-left-radius arguments
	-moz-border-bottom-left-radius arguments
	border-bottom-left-radius arguments

border-radius-bottom-right()
	-webkit-border-bottom-right-radius arguments
	-moz-border-bottom-right-radius arguments
	border-bottom-right-radius arguments

border-radius-top()
	border-radius-top-left(arguments)
	border-radius-top-right(arguments)

border-radius-bottom()
	border-radius-bottom-left(arguments)
	border-radius-bottom-right(arguments)

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments


.left
	float left

.right
	float right

.bold
	font-weight bold

.red
	color red

.min
	width 1px
