table.formtable
	tr
		td
			label(for='thread_title') Title:
		td
			input(type='text', id='thread_title', name='thread[title]', value=thread.title)
	tr
		td
			label(for='thread_body') Text:
		td
			textarea(id='thread_body', name='thread[body]')= thread.body
	tr
			td(colspan='2')
				

