h2= title
form(action='/login', method='POST')
	input(type='hidden', name='redir', value=redir)
	table.formtable
		tr
			td
				label(for='name') Username:
			td
				input(type='text', name='name', id='name')
		tr
			td
				label(for='pass') Password:
			td
				input(type='password', name='pass', id='pass')
		tr
			td(colspan='2')
				button#cancelbtn(type='button') Cancel
				input(type='submit')
